.btn {
  position: relative;
  z-index: 3;
  width: 160px;
  height: 36px;
  border: 1px solid $color-black;
  background-color: $color-black;
  text-align: center;
  transition: 0.3s;
  a {
    display: block;
    font-family: 'Montserrat Medium';
    @include font-size(12);
    line-height: 32px;
    letter-spacing: 0.18px;
    color: $color-white;
    &:focus,
    &:hover {
      background-color: $color-white;
      color: $color-black;
      transition: 0.3s;
    }
  }
}

/* btn-reset */
.button,
.btn {
  //   background-color: transparent;
  //   border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
