@import 'mixin';
@import 'var';
/* ------------------------- */
/* header */
/* ------------------------- */
.header {
  width: 100%;
  height: 94px;
  position: fixed;
  top: 0;
  &-inner {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.site-ttl {
  width: 260px;
  z-index: 2;
}
.site-ttl.black svg path {
  fill: #333;
  transition: fill 0.3s;
}

@include burger;
@include burger-menu;

.hamburger-nav-logo {
  width: 65px;
  margin-left: 20px;
}
.hamburger-nav-link {
  @include font-size(20);
  font-family: 'Montserrat ExtraBold';
  color: $color-white;
  font-weight: normal;
  letter-spacing: 1.36px;
}
.hamburger-nav-item {
  margin-bottom: 30px;
}
.hamburger__line.black {
  background-color: #333;
}
.hamburger-label.black {
  color: #333;
}
/* ------------------------- */
/* header-mq */
/* ------------------------- */
@include mq(768) {
  .site-ttl {
    width: 189px;
  }
}

@include mq(375) {
  .sp-global-menu {
    width: 100vw;
  }
}
